
# Godot-specific ignores
build/
.import/
**/*.*.import
*.lnk
export.cfg
export_presets.cfg

# Mono-specific ignores
.mono/

# CLion project files
**/.idea/

# Project ignores
GDNative/godot-cpp
GDNative/cmake-*
